<% if user_signed_in? %>
	<p>Bienvenido <%= current_user.firstname %></p>
	<p><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></p>
<% else %>
	<p><%= link_to "Crea una cuenta", new_user_registration_path %></p>
	<p>Si ya tienes cuenta <%= link_to "Login", new_user_session_path %></p>
<% end %>